.loge {
	border-bottom: 1px solid black;
}

.logt {
	width: 100px;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.logl {
	width: 60px;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.logc {
	width: 130px;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.logc:hover {
	text-overflow: inherit;
	overflow: visible;
}

.logm {
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
}

.logm:hover {
	text-overflow: inherit;
	overflow: visible;
}

.logeWarn {
	background-color: #ffcccc;
}

.logeError {
	background-color: #ff3333;
}

.logeFatal {
	background-color: #ff3333;
}

.logattr {
	background-color: #FFFFFF;
	padding-left: 20px;
	display: block;
}

.logattrkey {
	display: inline;
	width: 150px;
	padding-right: 3px;
}

.logattrvalue {
	display: inline;
}

.hidden {
	display: none;
}