.loge {
	border-bottom: 1px solid black;
}

.logt {
	width: 180px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.logl {
	width: 100px;
	display: inline-block;
	margin-left: 5px;
	padding-left: 2px;
	margin-right: 5px;
	border-bottom-style: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	
}

.logc {
	width: 200px;
	display: inline-block  ;
	margin-left: 5px;
  padding-left: 2px;
  margin-right: 5px;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: solid;
  border-left-width: 1px;
	text-overflow: ellipsis;
}

.logc:hover {
	text-overflow: inherit;
	overflow: visible;
}

.logm {
	display: inline;
	margin-left: 5px;
  padding-left: 2px;
  margin-right: 5px;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: solid;
  border-left-width: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.logm:hover {
	text-overflow: inherit;
	overflow: visible;
}

.logeWarn {
	background-color: #ffcccc;
}

.logeError {
	background-color: #ff3333;
}

.logeFatal {
	background-color: #ff3333;
}

.logattr {
	background-color: #FFFFFF;
	padding-left: 20px;
	display: block;
}

.logattrkey {
	//display: inline;
	width: 150px;
	padding-right: 3px;
	vertical-align: top;
}

.logattrvalue {
	display: inline;
	vertical-align: top;
	white-space: pre;
}

.hidden {
	display: none;
}

.glogFormAttributes {
	display: inline;
}