.parent {
	-fx-background-color: #999999;
}

.pocTitlePane {
	-fx-background-color: #aaaaaa;
}

/**
 * FeedbackPanel
 */
 
#feedback {
	-fx-vgap: 4px;
}

#feedback #icon.ERROR {
	-fx-fill: #FFFFFF
}

#feedback #icon.INFO {
	-fx-fill: #FFFFFF
}

#feedback #message.INFO {
	-fx-background-color: #408000;
	-fx-background-radius: 5;
}

#feedback #message.INFO .label {
	-fx-text-fill: #FFFFFF;
}

#feedback #message.ERROR {
	-fx-background-color: #FF0000;
	-fx-background-radius: 5;
	-fx-text-fill: #FFFFFF;
}

#feedback #message.ERROR .label {
	-fx-text-fill: #FFFFFF;
}


/**
 * Form Controls
 */
 
/* Style class for form controls if the control value is not valid */
.formControlERROR {
	-fx-border-color: #ff0000	
}

/* Style class for form controls if the controls values is valid */
.formControlVALID {
	-fx-border-color: #ffffff
}

/**
 * Logging View
 */
 #logging .INFO {
 	-fx-background-color: #ffffff;
 }
 
 #logging .WARN {
 	-fx-background-color: #FFBF00;
 }
 
 #logging .ERROR {
 	-fx-background-color: #ff0000;
 }
 
 /**
 * We do not want white font if the user selected a log entry.
 */
#logging .cell:selected {
	-fx-text-fill: #000000;
} 

 /* default value for cells */
 #logging .cell {
 	-fx-background-color: #ffffff;
 }
 